.navbar{
    padding: .8rem;
}
.navbar-nav li{
padding-right: 20px;
}
.nav-link{
    font-size: 1.1em !important;
}
.carousel-inner img{
    width: 100%;
    height: 600px;
}
.carousel-caption{
    color: rgb(81, 126, 209);
    position:absolute;
    top: 35%;
    transform: translateY(-50%);
}
.carousel-caption h1{
    font-size: 200%;
    text-shadow: 1px 1px 15px rgb(58, 91, 153);
}
.carousel-caption h3{
    font-size: 120%;
    font-weight: 500;
    text-shadow: 1px 1px 10px rgb(58, 91, 153);
}

#slide3{
    width: 300px;
    height: 600px;
}

.logo1{ 
    width: 250px;
    height: 75px;
}

.logo0Footer{
    width: 200px;
    height: 75px;
}

.logo2Footer{
    width: 100px;
    height: 75px;
}

ion-icon{
    font-size: 4em;
}

.light{
    color: blue;
}

.card{
    max-width: 300px;
    max-height: 500px;
}
.card :hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);

}

main img{
    width: 200px;
    height: 300px;
}


.card-padding{
    padding: 10px;
    margin: 10px;
}
.card-title{
    font-weight: bolder;
}
#navbarResponsive{}


@media (max-width: 404px){
    .logo1{
        width: 220px;
        height: 75px;
    }

    .logo0Footer{
        width: 200px;
        height: 75px;
    }
    .logo2Footer{
        width: 75px;
        height: 75px;
    }

    footer ion-icon{
        font-size: 2em;
    }

    .carousel-caption{
        top: 35%;
        transform: translateY(-50%);
    }
    .carousel-caption h1 h3{
        font-size: 50%;
    }
    .carousel-caption h3{
        display: none;
    }
    #slide3{
        width: 400px;
        height: 600px;
    }
    .carousel-caption btn-lg{
        font-size: small;
    }

}
